* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

a {
    color: inherit;
}

body {
    font-family: 'Noto Sans';
    font-size: 16px;
}

h1 {
    font-size: 32px;
    z-index: 1;
}

h2 {
    font-size: 28px;
}


main {
    padding-top: 60px;
}

.menu-list {
    list-style: none;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.container {
    width: 1200px;
    min-width: 1200px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: #e9d0d0;
    box-shadow: 0 1px 8px 0 #726464;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 1;
}

header .container {
    align-items: center;
    display: flex;
}

#header nav {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

header .menu-list a {
    color: #544e4e;
    font-weight: bold;
    font-size: 16px;
}

header .menu-list a:hover {
    color: #544e4e;
}

.logo {
    float: left;
    display: flex;
}

.logo img {
    width: 50px;
}

.logo span {
    font-size: 37px;
    font-weight: bold;
    color: #544e4e;
    margin-left: 8px;
}

.logo span:hover {
    color: #a48c8c;
}

.btn-auth {
    float: right;
}

.btn {
    padding: 8px 25px;
    border-radius: 8px;
    border: 1px solid #544e4e;
    color: #544e4e;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    border-color: #675f5f;
    color: #675f5f;
}

footer {
    background-color: #e9d0d0;
    margin-top: 40px;
    box-shadow: 0 1px 8px 0 #726464;
}

.first-footer-block {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .footer-menu {
    list-style: none;
}

footer .footer-menu a {
    color: #725d5d;
    font-size: 16px;
    font-weight: bold;
}

footer .footer-menu a:hover {
    color: #a48c8c;
}

.last-footer-block {
    background-color: #292929;
    color: #ded9da;
    padding-top: 8px;
    padding-bottom: 8px;
}

.last-footer-block span {
    cursor: default;
}

.last-footer-block ul {
    list-style: none;
    display: flex;
    float: right;
}

.last-footer-block ul li:first-child {
    margin-right: 20px;
}

.last-footer-block a:hover {
    color: #fff;
}

.head-block {
    background-image: url("../img/Banner.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top 2% right;
    height: 367px;
    background-color: #fff2f2;
    margin-bottom: 40px;
    box-shadow: 0 1px 8px 0 #a9a7a7;
}

.head-block h1 {
    padding-top: 130px;
    color: #4f4646;
}

.head-block p {
    font-size: 18px;
    margin-top: 14px;
}

.head-block img {
    width: 350px;
    position: absolute;
    margin-left: -347px;
}

.catalog-page h2 {
    color: #4f4646;
}

.filter-block {
    float: left;
    width: 265px;
    height: 350px;
    border: 1px solid #a99191;
    border-radius: 6px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
}

.catalog-content {
    display: flex;
    flex-direction: column;
}

.cards-block {

}

.cards-item {
    border: 1px solid #a99191;
    border-radius: 6px;
    padding: 20px;
    margin-top: 20px;
    height: 208px;
}

.cards-item img {
    float: left;
    height: 200px;
    width: 200px;
    border: 1px solid #a99191;
    border-radius: 6px;
    margin-right: 20px;
}

.cards-item .card-text-items {
    display: flex;
    flex-direction: column;
}

.cards-item .card-text-items h3{
    font-size: 20px;
    color: #4f4646;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards-item .card-text-items .btn {
    opacity: 0.8;
    font-weight: normal;
    color: #000000;
    background-color: #e1c6c6;
    border: none;
    float: right;
    margin-top: 10px;
}

.cards-item .card-text-items p {
    color: #4f4646;
    font-size: 16px;
    max-height: 114px;
    overflow: hidden;
    margin-bottom: 10px;
}
